@use "../../styles/variables" as *;

.game-container {
  display: flex;

  &.mobile {
    flex-flow: column-reverse;
  }
  .game-list {
    flex: 1;
    max-height: 823px;
    overflow-y: auto;

    .game-grid {
      display: grid;
      gap: 20px;

      @media (max-width: $mobile-breakpoint) {
        gap: 10px;
        margin-top: 235px;
      }
      .game-card {
        padding-top: 71.94%;
        position: relative;
        background: linear-gradient(45deg, #f1f2f6, #dfe4ea);
        border-radius: 8px;
        overflow: hidden;
        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
