@use "../../styles/variables.scss" as *;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 75px 82px 56px;
  @media screen and (max-width: $mobile-breakpoint) {
    padding: 24px;
  }
}
